.experience-info {
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 359px;
}

.experience-info__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
}

.experience-info__list-item {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
    color: #000;
    
}

.experience-info__list-item.selected {
    color: #fff;
    background: #28d979;
    
}

.experience-info__header {
   display: flex;
   align-items: center;
   justify-content: space-between; 
}

.experience-info__period {
    font-size: 8px;
    line-height: 150%;
    font-weight: 500;
    
}

.experience-info__label {
    color: #ddf163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content {
    display: flex;
    justify-content: space-between;
}

.experience-info__job {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    white-space: nowrap;
    margin-top: 8px;
       
}

.experience-info_job-bottom {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 8px;
}

.experience-info__list-item.selected .experience-info_job-bottom {
    color: #ebf9f2;
}

.experience-info__job-name,
.experience-info__job-time {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list {
    width: 239px; /* Ширина списка */
    margin-top: 8px; /* Отступ сверху */
    margin-left: 8px; /* Отступ слева */
    padding-left: 8px; /* Отступ внутри списка */
    margin-bottom: 0px;
    box-sizing: border-box; /* padding учитывается в ширине */
    
}

.experience-info__responsibility-list-item {
    font-size: 8px;
    line-height: 150%;  
}